html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 100%;
}

h1 {
  color: black;
  font-weight: bold;
  text-align: Center;
  font-size: 2.5rem;
}

h3 {
  color: black;
  font-weight: bold;
  text-align: Center;
  font-size: 2rem;
}

.menu-body {
  padding: 10;
  padding-right: 7vw;
  padding-left: 7vw;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 40px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 2rem;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-subsection-title {
  font-family: georgia;
  font-size: 1.8rem;
  display: block;
  font-weight:bold;
  margin: 20px 0;
  text-align: Center;
}

.menu-section-title-special {
  font-family: georgia;
  font-size: 1.8rem;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
  font-weight: bold;
}

.menu-item {
  margin: 35px 0;
  text-align: left;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item-name {
  font-family: helvetica;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1.7px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-size: 1.25rem;
  color: #666;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -1.7rem;
  font-size: 1.5rem;
}

.menu-click-label {
  font-size: 0.75rem;
  color: #aaa
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible.expand {
  max-height: 300%;
}

.menu-nutrional-label {
  font-size: 1rem;
  font-weight: bold;
}

.menu-item-calories {
  font-size: 1rem;
}

.menu-item-allergens {
  font-size: 1rem;
}

.item-allergen-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.item-allergen-description {
  font-size: 1rem;
  margin-bottom: 5px;
}

.menu-item-comments {
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  font-family: arial;
  font-size: 1rem;
}

.modal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    position: relative;
    background-color: white;
    padding: 10px;
    margin: 5px;
    left: 49%;
    top: 50%;
    width: 90%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    transform: translate(-50%, -49%);
    animation-duration: 0.4ยก6s;
    border-radius: 20px;
  }

.modal-text {
  font-family: helvetica;
  font-size: 1.15rem;
  font-weight: bold;
}


.modal-header-text {
  font-family: helvetica;
  font-size: 2rem;
  font-weight: bold;
}

.modal-footer-text {
  padding: 16px;
  font-family: helvetica;
  font-size: 1.25rem;
  font-weight: bold;
}

.close-btn {
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}

.close-btn:hover {
  color: darkgray;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 16px;
  background-color: #D6EBE3;
  border-radius: 10px;
}

.modal-footer:active {
  padding: 16px;
  background-color: #B4E8D4;
}

@-webkit-keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:50%; opacity:1}
}

@keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:50%; opacity:1}
}


.modal-num {
  width: 90%;
  padding: 10px;
  font-family: helvetica;
  font-size: 1.25rem;
}
input, select {
  width: 100%;
  padding: 10px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: #45a049;
}

@media only screen and (min-width: 1080px){
  .modal-content {
    position: relative;
    background-color: white;
    padding: 30px;
    margin: auto;
    left: 25%;
    top: 50%;
    width: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    transform: translate(-50%, -50%);
    animation-duration: 0.4ยก6s;
    border-radius: 15px;
  }
  .modal-text {
    font-family: helvetica;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .modal-header-text {
    font-family: helvetica;
    font-size: 3rem;
    font-weight: bold;
  }
  .modal-footer-text {
    font-family: helvetica;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }



  .modal-body {padding: 2px 16px;}

  .modal-footer {
    padding: 2px 16px;
    background-color: #D6EBE3;
  }
  .modal-footer:active {
    padding: 2px 16px;
    background-color: #B4E8D4;
  }
  @-webkit-keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:50%; opacity:1}
  }
  @keyframes animatetop {
    from {top:-100px; opacity:0}
    to {top:50%; opacity:1}
  }


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
}


.iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags@2x.png");}
}
