html, body {
  margin:0;
  padding:0;
  text-align: center;
}

h1 {
  color: black;
  font-weight: bold;
  text-align: Center;
  font-size: 3rem;
}

h3 {
  color: black;
  font-weight: bold;
  text-align: Center;
  font-size: 3rem;
}

.menu-body {
  /* max-width: 60vw;
  margin: 0 auto; */
  padding: 10;
  padding-right: 7vw;
  padding-left: 7vw;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 40px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 2.2rem;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-subsection-title {
  font-family: georgia;
  font-size: 1.8rem;
  display: block;
  font-weight:bold;
  margin: 20px 0;
  text-align: Center;
}

.menu-section-title-special {
  font-family: georgia;
  font-size: 2.5rem;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
  font-weight: bold;
}

.menu-item {
  margin: 35px 0;
  text-align: left;
}

.menu-item:hover {
  cursor: pointer;
  /* color: darkblue; */
}

.menu-item-name {
  font-family: helvetica;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1.7px dotted rgb(213, 213, 213);
  /* margin-right: 4.5rem; */
  /* padding-bottom: 5px;
  color: #4c4c4c;
  font-weight: 700; */
}

.menu-item-description {
  font-size: 1.5rem;
  /* line-height: 1.5rem; */
  /* margin-top: 10px; */
  color: #666;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -3.1rem;
  font-size: 3rem;
}

.menu-click-label {
  font-size: 0.75rem;
  color: #aaa
}

.smalldesc {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.smalldesc.expand {
  max-height: 500px;
}

.menu-nutrional-label {
  font-size: 2rem;
  color: #aaa
}

.menu-item-calories {
  font-size: 2rem;
}

.menu-item-allergens {
  font-size: 2rem;
}

.item-allergen-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.item-allergen-description {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* p {
  line-height: 0.5;
  display: block;
  margin-block-start: 0.5rem;
  margin-block-end: 1px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.footer {
  text-align: center;
  font-family: arial;
  font-size: 1rem;
}


.modal {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}
.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-text {
  font-family: helvetica;
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-header-text {
  font-family: helvetica;
  font-size: 3rem;
  font-weight: bold;
}
.modal-footer-text {
  font-family: helvetica;
  font-size: 1.6rem;
  font-weight: bold;
}


.close-btn {
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}



.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #D6EBE3;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
