html,body {
  margin:0;
  padding:0;
  text-align: center;
}

.menu-body {
  /* max-width: 60vw; */
  /* margin: 0 auto; */
  padding: 10;
  padding-right: 7vw;
  padding-left: 7vw;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 40px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 2.2rem;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-section-title-special {
  font-family: georgia;
  font-size: 2.5rem;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
  font-weight: bold;
}

.menu-item {
  margin: 35px 0;
  font-size: 1.5rem;
  text-align: left;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 1.7px dotted rgb(213, 213, 213);
  margin-right: 4.5rem;
}

.menu-item-description {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -3.1rem;
  font-size: 3rem;
}

h1{
  color: black;
  font-weight: bold;
  text-align: Center;
  font-size: 3rem;
}

.footer {
  text-align: center;
  font-family: arial;
  font-size: 1rem;
}